/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.site-content {
	margin-top: 3.1rem;
}

.our-team {
	margin-bottom: 0;
}

.blog, .page-id-25 {

	.site-content {
		display: flex;
		justify-content: center;
		width: 1120px;
		margin-left: auto;
		margin-right: auto;

		.content-area {
			align-content: center;
			padding: 60px 60px 0px 0px;

			img {
				width: 100%;
			}
		}

		.widget-area {
			min-width: 27%;
			border-left: 1px solid #e1e1e1;

			i {
				margin-right: 0.5rem;
			}
		}		
	}
			
			ul {
				padding-left: 0;
				padding-right: 0rem;
				margin-left: 0;
			}
		
	}

.home {

	.hfeed.site {

		.site-content {

			ul {
				list-style: none;
				align-content: center;
				margin-right: auto;
				margin-left: auto;
				width: 1120px;
				max-width: 1120px;

				img {
					max-height: 250px;
					max-width: 375px;
					width: auto;
				}

				h1 {
					line-height: 1.25;
					font-size: 1.3rem;
				}

				span, a {
					font-size: 0.75rem;
				}
			}
		}
	}
}

.journal-block-wrapper {
	margin-top: 3.75rem;
	max-width: 1120px;
	margin-right: auto;
	margin-left: auto;

	h2 {
		text-align: center;
		font-family: Novecento, sans-serif;
		font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 3rem;
		margin-top: 3.75rem;
		margin-right: auto;
		margin-left: auto;
		width: 1120px;
	}
	
	ul {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-content: center;
		padding-left: 0;

		li {
			margin: 1rem;
			align-content: center;
			border: 1px;
			border-style: solid;
			border-color: #e1e1e1;
			max-width: 375px;
			flex: 0 1 29%;

			.journal-button {
				border: 1px solid #000000;
				color: #000;
				padding: 0.75rem 1.5rem;
				bottom: 1.25rem;
				left: 0.9rem;
				position: relative;
				font-family: Novecento, sans-serif;
				text-transform: uppercase;
			}

			.journal-button:hover {
				background-color: #248a83;
				border-color: #248a83;
				color: #FFFFFF;
			}
		}
	}
}

.journal-container {
	background-color: #e1e1e1;

	img {
		width: 360px;
	}

}

.entry-title {
	
}

.entry-header {
	position: relative;

	h2 {
		background-color: #248a83;
    color: #ffffff;
    font-size: 33.6px;
		font-size: 2.1rem;
		position: absolute;
		left: 0;
		top: 0;
    padding: .75rem 1.5rem;
    margin-top: 2.25rem;
    max-width: 75%;
	}

	a {
		color: #FFFFFF;
	}
}

.entry-meta {
	font-family: Novecento, sans-serif;
	text-transform: uppercase;
	background-color: #248a83;
	color: #fff;
	display: inline-block;
	padding: 0.2rem 1.5rem;
	position: absolute;
	bottom: 8px;
	right: 0px;
}

.journal-entry-wrapper {
	padding: 0.75rem;
		
	h3 {
		font-size: 1.3rem;
		line-height: 1.5rem;
		color: #248A83;
		margin-top: 0;
		padding-bottom: 0.5rem;
	}

	h3:hover {
		color: #2f1339;
		cursor: pointer;
	}

	a {
		font-family: Novecento;
	}

}

.product-info.container {
	align-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 1120px;

	h2 {
		font-size: 2.4rem;
    font-weight: 400;
		margin-bottom: 3.75rem;
		margin-top: 3.75rem;
		text-align: center;
	}

	.product-type-blocks {
		display: flex;
		justify-content: space-between;
		text-align: center;

		.product-type-block-wrapper {
			border: 1px solid #e1e1e1;
			border-top-width: 5px;
			flex: 0 1 22.5%;
			max-width: 22.5%;	
			padding: .75rem;

			img {
				height: 70px;
				width: 70px;
			}
			
			a {
				background: #248a83;
				border: none;
				border-radius: 0;
				color: #fff;
				font-family: Novecento Sans Web,sans-serif;
				font-size: 14.4px;
				font-size: .9rem;
				line-height: 1;
				padding: .75rem 1.5rem;
				text-decoration: none;
				text-transform: uppercase;
			}

			p {
				margin-bottom: 1.5rem;
				color: #404040;
				font-family: Merriweather;
				font-size: 1.1rem;
				line-height: 1.75;
			}
		}
	}
}

.read-more-button {
	border: 1px solid #000000;
	color: #000000;
	font-family: Novecento, sans-serif;
	padding: 0.75rem 1rem;
}

.read-more-button:hover {
	border: none;
	color: #FFFFFF;
	background-color: #248a83;
	font-family: Novecento, sans-serif;
	padding: 0.75rem 1rem;
}

.read-more-button:visited {
	text-decoration: none;
}

.single-post {

	.hfeed.site {

		.site-content {
			display: flex;
			justify-content: center;
			width: 1120px;
			margin-left: auto;
			margin-right: auto;

			.entry-footer {
				font-family: Novecento, sans-serif;
				text-transform: uppercase;

				.cat-links {
					margin-right: 1.5rem;
				}
			}

			.widget-area {
				min-width: 27%;
				border-left: 1px solid #e1e1e1;

				ul {
					margin-left: 0;
					padding-left: 0;
				}
	
				i {
					margin-right: 0.5rem;
				}
			}

			.content-area {
				align-content: center;
				padding: 60px 60px 0px 0px;
				width: 73%;

				.comments-area {

					.comment-list {
						margin-left: 0;
						padding-left: 0;
					}

					.comment-body {
						display: flex;
						font-family: Merriweather;
					}

					.comment-content {
						border-bottom: 1px solid lightgrey;
						margin-top: 0.5rem;
						margin-bottom: 0.5rem;
						padding: 1rem;

						.fn {
							font-style: normal;
							font-weight: 600;
						}
					}

					.comment-metadata {
						color: grey;
					}

					a {
						color: #248A83;
					}

					img {
						height: 64px;
						width: 64px;
						margin-right: 2rem;
						margin-top: 2rem;
					}

				}

				.BodyA {
					font-family: Merriweather;
					font-size: 16px;
					line-height: 1.75;
					color: #404040;

				}
						.entry-header {
							position: relative;
						
							h1 {
								background-color: #248a83;
								color: #ffffff;
								font-size: 33.6px;
								font-size: 2.1rem;
								position: absolute;
								left: 0;
								top: 0;
								padding: .75rem 1.5rem;
								margin-top: 2.25rem;
								max-width: 75%;
							}
						
							a {
								color: #FFFFFF;
							}
						}
						
						.single-entry-meta {
							font-family: Novecento, sans-serif;
							text-transform: uppercase;
							background-color: #248a83;
							color: #fff;
							display: inline-block;
							padding: 0.2rem 1.5rem;
							position: absolute;
							bottom: 8px;
							right: 0px;
						}
						
						.journal-entry-wrapper {
							padding: 0.75rem;
								
							h3 {
								font-size: 1.3rem;
								line-height: 1.5rem;
								color: #248A83;
								margin-top: 0;
								padding-bottom: 0.5rem;
							}
						
							h3:hover {
								color: #2f1339;
								cursor: pointer;
							}
						
							a {
								font-family: Novecento;
							}
					}
				}
			}
			img {
				width: 100%;
			}
		}
	}

.archive {
	
	.site-content {
		display: flex;
		width: 1120px;
		margin-right: auto;
		margin-left: auto;

		.content-area {
			align-content: center;
			padding: 30px 60px 0px 0px;
			width: 73%;

			img {
				width: 100%;
			}

		}

		.widget-area {
			min-width: 27%;
			border-left: 1px solid #e1e1e1;

			ul {
				padding-left: 0;
				margin-left: 0;

				a {
					color: #248A83;
				}
			}
		}
	}
}



.post-62 {
	display: none;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
	margin-bottom: 6rem;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;

	a {
		color: #000000;
	}
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}