/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Front-Page Menus */

.main-navigation {
	width: 100%;
	font-family: Novecento, sans-serif;
	text-transform: uppercase;
	display: flex;
	flex-direction: row-reverse;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		padding-left: 1.5rem;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		color: #248a83;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

a {
	color: #248a83;
	text-decoration: none;
}


.site-header {
	background-color: hsla(0,0%,100%,.85);
	border-bottom: 1px solid #e1e1e1;
	padding: .5rem 0;
	position: fixed;
	transition: top .5s linear;
	width: 100%;
	z-index: 3;

	.header-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
		width: 1120px;

		.header-search-wrapper {
			display: flex;
			align-items: center;

			.header-search {
				padding-left: 1.5rem;
				color: #248a83;
			}

			.search-form {
				display:none;

				fieldset {
					padding: 0 0 0 0;
				
					.search-field {
						padding: 0 0 0 1.5rem;
						font-family: Novecento, sans-serif;
						background: transparent;
						border: none;
						text-transform: uppercase;
						line-height: 1;
					}
				}
			}
		}

	}

	h1 {
		background: url(../../images/logos/inhabitent-logo-tent.svg) no-repeat;
    background-size: 50px 33px;
    height: 32px;
    margin: 0;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 50px;
	}
}

.site-footer {
	background: url(../../images/dark-wood@2x.png);
	background-image: url(../../images/dark-wood@2x.png);
	background-position-x: initial;
	background-position-y: initial;
	background-size: 512px 512px;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: initial;
	background-size: 512px 512px;
	color:#FFFFFF;
}

.text-logo {
	width: 50%;
	display: flex;
	flex-direction: row-reverse;
}

.site-info {
	font-family: Novecento, sans-serif;
	padding: 1.5rem 0;
	text-align: center;
	text-transform: uppercase;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		display: none;
		float: left;
		width: 50%;
	}

	.nav-next {
		display: none;
		float: right;
		text-align: right;
		width: 50%;
	}
}

.logged-in-as {
	display: none;
}

.footer-blocks-container {
	width: 1120px;
	margin-right: auto;
	margin-left: auto;
	max-width: 1120px;
}

.footer-blocks {
	display: flex;
	margin-right: auto;
	margin-left: auto;
	width: 1120px;
}

.footer-block-item {
	margin: 1.5rem 0;
	padding-right: 1.5rem;
	width: 25%;
}

.footer-block-item:last-child {
	padding-right: 0;
	width: 50%;
}

.footer-blocks p {
	margin-bottom: .5rem;
}

.footer-blocks h3 {
	color: #d99054;
	font-size: 19.2px;
	font-size: 1.2rem;
	margin-bottom: .75rem;
	text-transform: uppercase;
}

.site-footer a {
	color: #fff;
	text-decoration: none;
}